*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(0,36,43);
    background: linear-gradient(0deg, rgba(0,36,43,1) 0%, rgba(39,110,123,1) 44%, rgba(0,36,43,1) 100%);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo{
    color: #ffffff;
    margin: 20px 0;
    font-size: 70px;
    transition: transform 0.5s ease;
}
.titulo:hover{
    transform: scale(1.1);
}

.card{
    width: 500px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px 0;
}