*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(0,36,43);
    background: linear-gradient(0deg, rgba(0,36,43,1) 0%, rgba(39,110,123,1) 44%, rgba(0,36,43,1) 100%);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Responsividade tela média*/
@media(max-width: 750px){
    .titulo{
        font-size: 50px;
        animation: none;
    }
    .card{
        width: 300px;
        font-size: 15px;
    }
}

/* Responsividade para tela pequena */
@media(max-width: 540px){
    .titulo{
        font-size: 30px;
        animation: none;
    }
    .card{
        width: 200px;
        font-size: 13px;
        
    }
}
